body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
}
.search-container{
  padding-top: 70px;
}

#map{
  display: block;
  width: 95%;
  height: 600px;
}

#map.large{
  height:500px;
}

.zip-code{
  font-size: 20px;
}