<div class="row search-container">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <label for="address">Dirección:
      {{input value=search placeholder='dirección'}}
    </label>
  </div>
  <div class="col-md-8 animate">
    {{#if zip}}
    <p class="text-success zip-code"> Tu código postal es {{zip}}</p>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-1 adds">
    <p> adds</p>
  </div>
  <div class="col-md-10">
    <div id="map"></div>
  </div>
  <div class="col-md-1 adds">
    <p> adds</p>
  </div>
</div>
