<div class="row search-container">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <label for="address">Dirección:
      {{input value=search}}
    </label>
  </div>
  <div class="col-md-8">
    {{#if loading}}
        <img src="/images/spinner.gif"/> buscando
      {{else}}
        {{#if zip}}
          {{zip-code zip=zip}}
        {{/if}}
      {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-1 adds">
    <p> adds</p>
  </div>
  <div class="col-md-10">
    <div id="map"></div>
  </div>
  <div class="col-md-1 adds">
    <p> adds</p>
  </div>
</div>
