<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="row search-container">
  <div class="col-md-12 search">
    <label for="address">Dirección:
      {{input value=search}}
    </label>
    {{#if loading}}
      <img src="/images/spinner.gif"/> buscando
    {{else}}
      {{#if zip}}
        {{zip-code zip=zip}}
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-10 map-holder">
    <div id="map"></div>
  </div>
  <div class="col-md-2 ads">
    <!-- vertical 4 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:120px;height:240px"
         data-ad-client="ca-pub-2943344766925972"
         data-ad-slot="4803365901"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>
</div>

<div class="row footer-ad">
  <div class="col-md-12">
    <!-- horizontal large -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-2943344766925972"
         data-ad-slot="1989500302"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
